# Server
PORT=3010
NODE_ENV=development

# MongoDB
DATABASE_URL=mongodb://localhost:27017/whatsapp_service

# Meta WhatsApp Cloud API
META_BASE_URL=https://graph.facebook.com
META_API_VERSION=v24.0

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_ACCESS_EXPIRY=900
JWT_REFRESH_EXPIRY=604800

# Queue Provider: 'sqs' | 'bullmq'
QUEUE_PROVIDER=sqs

# AWS SQS (when QUEUE_PROVIDER=sqs)
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=your-bucket-name
SQS_MESSAGE_QUEUE_URL=
SQS_WEBHOOK_QUEUE_URL=

# Redis / BullMQ (when QUEUE_PROVIDER=bullmq)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Webhook
WEBHOOK_VERIFY_TOKEN=your_webhook_verify_token
